.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.navbar-brand img {
    max-height: 40px;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: black; 
    margin-right: 20px;
}


/* Image section */
.dish-image {
    max-width: 100%;
    height: auto;
    position: relative;
    animation: fadeIn 2s ease-in-out; /* Apply fade-in effect */
}

/* Brand box overlay styles */
.brand-box-overlay {
    top: 85px; /* Adjust based on how high you want it to be */
    left: 50px; /* Adjust the position */
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; /* Adjust the size of the brand box */
    animation: fadeIn 2s ease-in-out; /* Apply fade-in effect */
}

/* Space box overlay styles */
.space-box-overlay {
    top: 85px; /* Adjust based on how high you want it to be */
    left: 50px; /* Adjust the position */
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; /* Adjust the size of the space box */
    animation: fadeIn 2s ease-in-out; /* Apply fade-in effect */
}

/* Brand and Space section styles */
.brand-title, .space-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #b89135;
    margin-bottom: 20px;
}

.brand-desc, .space-desc {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Optional: adds slight upward motion */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


